body {
  background-color: #282c34;
  display: flex;
  justify-content: center;
}

.container-fluid {
  width: 400px;
  max-width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}